<header class="flex py-4 px-12 justify-between">
    <img src="/Logo.svg" alt="">
    <div class="">
        <ul class="flex gap-5">
            <li class="font-semibold text-brand-base text-sm">Dashboard</li>
            <li class="font-normal text-grayscale-600 text-sm">Transações</li>
            <li class="font-normal text-grayscale-600 text-sm">Categorias</li>
        </ul>
    </div>
    <div class="flex size-9 justify-center items-center rounded-full bg-grayscale-300 text-grayscale-800 text-sm font-medium" >
        AR
    </div>
</header>
